{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Our Team Section</title>
  <link rel="stylesheet" href="{% static 'style aboutus.css' %}">
  <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
</head>
<body>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/login" class="right">Login/Signup</a>
  </div>
<div class="wrapper">
  <h1>Our Team</h1>
  <div class="team">
    <div class="team_member">

      <h3>Sai Teja</h3>
      <p class="role">Developer</p>
      <p>KL University</p><br>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-envelope"></i></a>
      <a href="#"><i class="fa fa-facebook-official"></i></a>
    </div>
    <div class="team_member">

      <h3>Mukesh</h3>
      <p class="role">Team Lead</p>
      <p>KL University</p><br>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-envelope"></i></a>
      <a href="#"><i class="fa fa-facebook-official"></i></a>
    </div>
    <div class="team_member">

      <h3>Mahi venkat</h3>
      <p class="role">Developer</p>
      <p>KL University</p><br>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-envelope"></i></a>
      <a href="#"><i class="fa fa-facebook-official"></i></a>
    </div>
  </div>
</div>


</body>
</html>