{% load static %}
<html>
    <head>
        <title>Technical Events</title>
        <link rel="stylesheet" href="{% static 'cards.css'%}">
        <link rel="stylesheet" href="{% static 'home.css'%}">
    </head>
    <body>
      <body style="background-color:powderblue;"></body>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/aboutus">OurTeam</a>
            <a href="/login" class="right">Login/Signup</a>
        </div>
        <div class="container">
        <div class="card">
            <img src="{% static 'banking1.jpg' %}" alt="Denim Jeans" style="width:100%">
            <h1>Banking</h1>
            <p>A bank is a financial institution that accepts deposits from the public and creates a demand deposit while simultaneously making loans.Lending activities can be directly performed by the bank or indirectly through capital markets.</p>
            <a href="payment.html"><button >Banking</button></a>
          </div>



          <div class="midcard">
            <img src="{% static 'finance.jpg' %}" alt="Denim Jeans" style="width:100%">
            <h1>Finance</h1>
            <p>Financial System is a system that allows the exchange of funds between financial market participants such as lenders,investors and borrowers.</p>
            <a><button>Finance</button></a>
          </div>

        </div>
    </body>
</html>