{% load static %}
<html>
<head>
<meta http_equip+"Content Type" content="text/html"; charset="UTF-8"/>

<title>Courier systems</title>
<link href="{% static 'login.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'https://fonts.googleapis.com/css?family=play' %}" rel="stylesheet">
<script>
    function Username_Password_Check(){

        var pwd=document.f1.pass.value;


         if(pwd==null||pwd==""){
            alert("Please Enter Password.");
        }
    }

</script>
</head>

<body>
    <div class="signin">
    <form action="/post" method="POST">
        {% csrf_token %}
        <a href="/"><- Back to Home</a>
        <h2 style="color:white">Log In</h2>
        <input type="email" name="username" placeholder="Email ID" required autofocus/><br/><br />
        <input type="password" name="passw" placeholder="password" required/><br /><br />
        <input type="submit" value="login">
        <br /><br />
        <div id="container">
        <a href="reset.html" style="margin-right:0px; font-size:13px;font-family:Tahoma,Geneva,sans-serif;">Reset password?</a>
        <a href="forgot.html" style="margin-right:0px; font-size:13px;font-family:Tahoma,Geneva,sans-serif;">Forgotpassword</a>
        </div><br />
        Don't Have account?<a href="/signup">&nbsp;Sign Up</a>
    </form>
    </div>
</body>
</html>

