* {
    box-sizing: border-box;
}
  /* Style the top navigation bar */
.navbar {
    display: block;
    background-color: black;
    height: 48px;
    width: 100%;
    overflow: hidden;
    /*position: relative;
    left: 0%;*/
    color: white;
}

.navbar .Session{
    position: absolute;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: sans-serif;
}
  
  /* Style the navigation bar links */
.navbar a {
	float:right;
    padding: 0.9em 1.4em;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    /*text-transform: uppercase;*/
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    color: #ddd;
    transition: .3s;
    z-index: 1;
    color: white;
}
  

.navbar a::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: rgb(250, 67, 0);
    transition: .5s ease;
    display: block;
    z-index: -1;

}

.navbar a:hover::before {
    width: 105%;
}


table{
    width: 800px;
    background-color: rgba(156, 144, 144, 0.397);
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.425), 0 6px 20px 0 rgba(0, 0, 0, 0.425);
    font-family: sans-serif;
    border-collapse: collapse;
}
table .head{
    font-size: 17px;
    text-align: center;
    background-color: black;
    color: #fff;
}
table td{
   border-style: none;
   text-align: center;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
