* {
    box-sizing: border-box;
}
  
  /* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
  
  /* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
     background:linear-gradient(90deg, Red, Orange, Yellow, Green, Blue, Indigo,violet);
    color: white;
}
  
  /* Increase the font size of the heading */
.header h1 {
    font-size: 80px;
}
.header p{
	font-size: 30px;

}

  
  /* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #ff0080;
}
  
  /* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
  
  /* Right-aligned link */
.navbar a.right {
    float: right;
}
  
  /* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

  
  /* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
  
  /* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}
  
  /* Fake image, just for this example */
.fakeimg{
    width: 100%;
    padding: 20px;
}

  /* Footer */
.footer {
    background:#303036;
    color:#d3d3d3;
    position: relative;
    height:350px;
}

.footer .footer-content{
    
    height:300px;
    display:flex;
}

.footer .footer-content .footer-section{
    flex:1;
    padding:25px;
    
}

.footer .footer-content h1,
.footer .footer-content h2 {
    color:white;
}

.footer .footer-content .about h1 span{
    color:#05f7ff;
}

.footer .footer-content .about .contact span{
    display:block;
    font-size:1.1em ;
    margin-bottom:8px;
}

.footer .footer-content .about .socials a{
    border: 1px solid gray;
    width:45px;
    height:41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display:inline-block;
    font-size: 1.3em;
    border-radius:5px;
    transition:all .3s;
    color:aqua;
}

.footer .footer-content .about .socials a:hover{
    border:1px solid white;
    color:white;
    transition:all .3s;

}

.footer .footer-content .links ul a{
    display:block;
    margin-bottom:10px;
    font-size:1.2em;
    transition:all .3s;
    color:#d3d3d3;

}

.footer .footer-content .links ul a:hover{
    color:white;
    margin-left: 15px;
    transition:all .3s;
}

.footer .footer-bottom{
    background:#343a40;
    color:#686868;
    height:50px;
    width:100%;
    text-align:center;
    position: absolute;
    bottom:0px;
    left:0px;
    padding-top:20px;

}
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
}
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar .dropdown .dropbtn:hover {
  color: black;
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
input[type=submit]
{
   border: none;
   width: 190px;
   background: white;
   color: #000;
   font-size: 16px;
   line-height: 25px;
   padding: 10px 0;
   border-radius: 15px;
   cursor: pointer;
}
input[type=submit]:hover
{
    color: #fff;
    background-color: black;
}