body
{
    font-family:Tahoma, Geneva,sans-serif;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),Url(home-2.jpg);
    background-size: cover;
}
.signin
{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 310px;
    margin-left: 180x;
    box-shadow: -10px 20px 50px #000000cc;
}
form
{
    width: 240px;
    text-align: center;
}
input
{
    width: 240px;
    text-align: center;
    background: transparent;
    border: 2px solid;
    border-radius: 5px;
    border-bottom: 1px,solid #fff;
    font-family: 'Play',sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline-style:none ;
    color: #fff;
}
input[type=submit]
{
   border: none;
   width: 190px;
   background: white;
   color: #000;
   font-size: 16px;
   line-height: 25px;
   padding: 10px 0;
   border-radius: 15px;
   cursor: pointer;
}
input[type=submit]:hover
{
    color: #fff;
    background-color: black;
}
h2
{
  color: white;
}
a
{
   color: yellow;
   text-decoration: blink;
}
a:hover
{
   color: skyblue;
}
.container
{
   display: flex;
   flex-direction: row;
   width: 100%;
}
::placeholder {
      color:aliceblue;
      opacity: 0.8;
}


